.tds{
  border-color: black;
  border:1px solid;
  background-color: orange;
  font-size: 19px;
}
.tds2{
  font-size: 19px;
}
.titulo{
  font-size: 25px;
  padding: 3px;
  font-weight: bold;
}
body{
  background-image: url("hospital.jpg");
  background-size: cover;
}
table{

}
